<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user2::list</title>
</head>
<body>
<h3>user2 목록</h3>

<a th:href="@{/}">처음</a>
<a th:href="@{/user2/register}">등록</a>

<table border="1">
    <tr>
        <th>관리</th>
    </tr>
    <tr th:each="user:${dtoList}">
    <td>[[${user.userid}]]</td>
        <td>[[${user.name}]]</td>
        <td th:text="${user.birth}"></td>
        <td th:text="${user.age}"></td>
        <td>
            <a th:href="@{/user2/modify(userid=${user.userid},age=${user.age})}">수정</a>
            <a th:href="@{/user2/delete(userid=${user.userid})}">삭제</a>
        </td>
    </tr>
</table>
</body>
</html>